name: Deploy Next.js to Azure Web App

on:
  push:
    branches: 
      - master  # Change this to your primary branch name

env:
  AZURE_WEBAPP_NAME: accretewebsite    # Replace with your Azure Web App name
  AZURE_WEBAPP_PACKAGE_PATH: 'build.zip'         # Path to your Next.js app
  NODE_VERSION: '20'                   # Specify the Node.js version you're using

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    # Setup Node.js environment
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    # Install dependencies
    - name: Install dependencies
      run: |
        npm install
        npm install next
        npm run build
        npm run test
      


    # # Build Next.js app
    # - name: Build Next.js app
    #   run: npm run build

    # Archive the built content
    - name: Archive production artifacts
      run: zip -r build.zip . -x '*.git*' -x 'node_modules/**'

    # Login to Azure
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Deploy to Azure Web App
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

    # Logout from Azure
    - name: Logout
      run: |
        az logout
